body{
background-color: rgb(210, 129, 8);
}
h1{
  font-size: 80px;
  text-align: center;
  font-family: Luminari, fantasy;
}
.game{
  align-content: center;
  margin: auto;
  widht: 50%;
  text-align: center;
}
